.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation li{ 
    display: inline-block;
    margin-right: 10px;
}
.navigation li a{  
    color: #333;
}
.navigation li:last-child {
    margin-right: 0;
}